<% unless product_prices.empty? %>
  <div class="row">
      <div class="col font-weight-bold">Product</div>
      <div class="col font-weight-bold">Price</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="w-100"></div>
  </div>
  <% product_prices.each do |product_price| %>
    <div class="row">
      <div class="col"><%= product_price.product.name %></div>
      <div class="col"><%= product_price.price %></div>
      <div class="col"><%= link_to 'Show', product_price %></div>
      <div class="col"><%= link_to 'Edit', edit_product_price_path(product_price) %></div>
      <div class="col"><%= link_to 'Destroy', product_price, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <div class="w-100"></div>
    </div>
  <% end %>
<% else %>
    <div class="row justify-content-start">
      <div class="col-6">No price has been registred for this supermarket's products yet.</div>
  </div>
<% end %>