<div class="container">
  <p id="notice"><%= notice %></p>
  <h1 class="display-5"><%= @supermarket.name %></h1>
  <hr class="my-4">

  <div class="row mt-3">
    <div class="col">
      <%= render 'products/prices', product_prices: @supermarket.product_prices %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <%= link_to 'Edit', edit_supermarket_path(@supermarket) %> |
      <%= link_to 'List', products_path %>
    </div>
  </div>
</div>