<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @supermarket.name %>
</p>

<%= render 'supermarkets/prices', product_prices: @supermarket.product_prices %>

<%= link_to 'Edit', edit_supermarket_path(@supermarket) %> |
<%= link_to 'List', supermarkets_path %>
