<%= form_with(model: product_price, local: true) do |form| %>
  <% if product_price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_price.errors.count, "error") %> prohibited this product_price from being saved:</h2>

      <ul>
        <% product_price.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.select :product_id, options_for_select(Product.all.map{|c| [c.name, c.id]}, product_price.product_id), {}, {required: true, disabled: !product_price.product.nil?} %>
    <%= form.hidden_field :product_id unless product_price.product.nil? %>
  </div>

  <div class="field">
    <%= form.label :supermarket_id %>
    <%= form.select :supermarket_id, options_for_select(Supermarket.all.map{|c| [c.name, c.id]}, product_price.supermarket_id), {}, {required: true} %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
