<p id="notice"><%= notice %></p>

<p>
  <strong>Supermarket:</strong>
  <%= link_to @product_price.supermarket.name, @product_price.supermarket %>
</p>

<p>
  <strong>Product:</strong>
  <%= link_to @product_price.product.name, @product_price.product %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product_price.price %>
</p>

<%= link_to 'Product', @product_price.product %> |
<%= link_to 'Edit', edit_product_price_path(@product_price) %> |
<%= link_to 'List', product_prices_path %>
