<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brand.name %>
</p>

<%= render 'products', products: @brand.products %>

<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'List', brands_path %>
