<% unless products.empty? %>
  <div class="row mb-1">
      <div class="col font-weight-bold">Name</div>
      <div class="col font-weight-bold">Brand</div>
      <div class="col font-weight-bold">Validated</div>
      <div class="col-3"></div>
      <div class="w-100"></div>
  </div>
  <% products.each do |product| %>
    <div class="row">
      <div class="col text-nowrap"><%= product.name %></div>
      <div class="col text-nowrap"><%= product.brand.name %></div>
      <div class="col text-nowrap"><%= product.validated %></div>
      <div class="col-3">
        <div class="row">
          <div class="col"><%= link_to 'Show', product %></div>
          <div class="col"><%= link_to 'Edit', edit_product_path(product) %></div>
          <div class="col"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
      </div>
      <div class="w-100"></div>
    </div>
  <% end %>
<% else %>
    <div class="row justify-content-start">
      <div class="col-6">No product has been registred for this category yet.</div>
  </div>
<% end %>