<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= link_to @product.category.name, @product.category %>
</p>

<p>
  <strong>Brand:</strong>
  <%= link_to @product.brand.name, @product.brand %>
</p>

<p>
  <strong>Validated:</strong>
  <%= @product.validated %>
</p>

<%= render 'products/prices', product_prices: @product.product_prices %>

<%= link_to 'Add Price', product_add_price_path(@product) %> |
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'List', products_path %>
