<div class="container">
  <p id="notice"><%= notice %></p>
  <h1 class="display-5"><%= @product.name %></h1>
  <hr class="my-4">

  <div class="row mt-3">
    <div class="col">
        <strong>Name:</strong>
    </div>
    <div class="col-8">
        <%= @product.name %>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <strong>Category:</strong>
    </div>
    <div class="col-8">
      <%= link_to @product.category.name, @product.category %>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <strong>Brand:</strong>
    </div>
    <div class="col-8">
      <%= link_to @product.brand.name, @product.brand %>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <strong>Validated:</strong>
    </div>
    <div class="col-8">
      <%= @product.validated %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <%= render 'products/prices', product_prices: @product.product_prices %>
    </div>
  </div>
  <hr class="my-4">

  <div class="row mt-3">
    <div class="col">
      <%= link_to 'Add Price', product_add_price_path(@product) %> |
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'List', products_path %>
    </div>
  </div>
</div>
